body{
	font-size: 100%;  
	background-image: url(WebDesign/Image/Background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
h1{ 
	font-size: xx-large;
	font-family: "Courier New", Courier, monospace;;
	font-style: serif;
	color: darkred;
	text-shadow: .2em .2em silver;
	text-align: center;
}
p{
	font-family: "Times New Roman", serif;
	font-size: xx-large;
	text-decoration: underline;
	font-weight: bold;
	line-height: 2px;
}